<div class="row">
    <form name="noteForm" novalidate>
    <div class="col-md-12">
        <br>
        <div class="form-group" ng-class="{'has-error': (noteForm.title.$dirty && noteForm.title.$invalid)}">
            <div class="col-xs-12 col-md-1">
                <label for="title">Titel: </label>
            </div>
            <div class="col-xs-12 col-md-8">
                <input type="text" class="form-control" name="title" id="title" ng-model="note.title" required
                       ng-maxlength="50" ng-trim="true"/>
                <span class="text-danger" ng-show="noteForm.title.$dirty && noteForm.title.$invalid">Eingabe darf nicht Leer sein</span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br>
        <div class="form-group"  ng-class="{'has-error': (noteForm.text.$dirty && noteForm.text.$invalid)}">
            <div class="col-xs-12 col-md-1">
                <label for="text">Text: </label>
            </div>
            <div class="col-xs-12 col-md-8">
                <textarea rows="4" cols="60" class="form-control" name="text" id="text" ng-model="note.body" required></textarea>
                <span class="text-danger" ng-show="noteForm.text.$dirty && noteForm.text.$invalid">Eingabe darf nicht Leer sein</span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <br>
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-12 col-md-8">
            <button class="btn btn-primary" data-ng-click="goBack()">Abbrechen</button>
            <button class="btn btn-danger" data-ng-click="deleteNote()">Löschen</button>
            <button class="btn btn-primary pull-right" ng-disabled="noteForm.$invalid" data-ng-click="updateNote()">Speichern</button>
        </div>
    </div>
    </form>
</div>
