<div class="row">
    <div class="col-md-12">
        <h3>Angaben zur Person</h3>
        <table class="table table-striped table-condensed table-responsive table-hover">
            <tbody>
            <tr>
                <td>Name</td>
                <td>Alex Cern</td>
            </tr>
            <tr>
                <td>Anschrift</td>
                <td>Schillerstr. 20, 70794 Filderstadt</td>
            </tr>
            <tr>
                <td>Geburtsdatum</td>
                <td>13.07.1983</td>
            </tr>
            <tr>
                <td>Geburtsort</td>
                <td>Chisinau (Rep. Moldau)</td>
            </tr>
            <tr>
                <td>Nationalität</td>
                <td>moldauisch</td>
            </tr>
            <tr>
                <td>Staatsangehörigkeit</td>
                <td>deutsch</td>
            </tr>
            <tr>
                <td>Familienstand</td>
                <td>ledig</td>
            </tr>
            <tr>
                <td>Mobil</td>
                <td>0152/03848741</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>alex.cern@web.de</td>
            </tr>
            </tbody>
        </table>
        <hr>

        <h3>Berufliche Bildung/Erfahrung</h3>

        <table class="table table-responsive table-hover">
            <tbody>
            <tr class="active">
                <td>03/2017 – 09/2017</td>
                <td>Concore GmbH, PHP-Entwickler</td>
            </tr>
            <tr class="active">
                <td>12/2016 – 02/2017</td>
                <td>Devoteam GmbH, IT-Berater</td>
            </tr>
            <tr class="active">
                <td>01/2015 – 09/2016</td>
                <td>Sidion GmbH, Junior Softwareentwickler</td>
            </tr>
            <tr class="active">
                <td>10/2014 – 12/2014</td>
                <td>Sidion GmbH, Praktikant</td>
            </tr>
            <tr class="active">
                <td>10/2011 – 06/2014</td>
                <td>Ausbildung zum Medieninformatiker, Akademie für Datenverarbeitung in Böblingen (Berufskolleg) mit einjährigem Praktikum bei Rhenus AG & Co. KG in der IT- Abteilung in Stuttgart</td>
            </tr>
            </tbody>
        </table>

        <h3>Weiterbildung</h3>

        <table class="table table-responsive table-hover">
            <tbody>
            <tr class="active">
                <td>02/2016 – 02/2016</td>
                <td>Einwöchiges Java Enterprise Powertraining bei Integrata AG in Stuttgart</td>
            </tr>
            <tr class="active">
                <td>02/2006 – 09/2006</td>
                <td>Zusätzlicher berufsorientierter Deutschkurs, DAA e.V. Stuttgart mit zweimonatigen Praktikum im „Webdesign-Studio Sonnenvogel“ (Einfache Bürotätigkeiten und Kundenservice)</td>
            </tr>
            <tr class="active">
                <td>01/2015 – 09/2016</td>
                <td>Sidion GmbH, Junior Softwareentwickler</td>
            </tr>
            <tr class="active">
                <td>05/2005 – 11/2005</td>
                <td>Deutschintensivkurs, DAA e.V. Stuttgart. Abschluss: Zertifikat Deutsch</td>
            </tr>
            </tbody>
        </table>

        <h3>Schulbildung</h3>

        <table class="table table-responsive table-hover">
            <tbody>
            <tr class="active">
                <td>09/2008 – 06/2010</td>
                <td>Zeppelingymnasium, Stuttgart. Nachholung des Abiturs</td>
            </tr>
            <tr class="active">
                <td>09/1990 – 06/2000</td>
                <td>Lyzeum, Chisinau. Das erworbene Zertifikat entspricht dem Realschulabschluss in Deutschland</td>
            </tr>
            </tbody>
        </table>

        <h3>Kenntnisse</h3>

        <table class="table table-responsive table-hover">
            <tbody>
            <tr class="active">
                <td>Programmiertechniken</td>
                <td>PHP/Laravel/Yii2, Java/JSP/JSF, JavaScript/JQuery/AngularJS, HTML/XHTML, CSS/LESS/SASS, MySQL</td>
            </tr>
            <tr class="active">
                <td>EDV</td>
                <td>MS Office, Eclipse, IntelliJ, MySQL Workbench, Git, SVN, Gerrit, Jenkins</td>
            </tr>
            <tr class="active">
                <td>Sprachen</td>
                <td>Deutsch: fließend<br>
                    Englisch: ausbaufähig<br>
                    Rumänisch: gut<br>
                    Russisch als Muttersprache
                </td>
            </tr>
            </tbody>
        </table>

        Filderstadt, Oktober 2017
    </div>
</div>
