<div class="col-md-12">
    <div class="row">
        <h3> Ihre Notitzen: </h3>
        <uib-accordion close-others="oneAtATime">

            <div uib-accordion-group class="panel-default" heading="{{note.title}} " ng-repeat="note in notes">
                <a class="pull-right" data-toggle="tooltip" title="Bearbeiten" href="#/note/edit/{{note.id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <div class="col-md-11">
                    {{note.body}}
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
