/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.bottom-left {
  position: fixed;
  background-color: rgba(255,255,255,0.8);
  line-height: 1.5em;
  width: 100vw;
  bottom: 0px;
}
