<div class="row">
    <div class="col-md-12">
        <div style="height: 550px">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="slide in slides" index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin: auto; max-height: 750px" class="img-responsive">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
